[init]
	defaultBranch = master
[user]
	name = sportshead
	email = me@sportshead.dev
	signingkey = root@sportshead.dev
[core]
	excludesfile = ~/.global.gitignore
    attributesfile = ~/.global.gitattributes
    pager = delta
[commit]
	gpgsign = true
[log]
	showSignature = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[diff "lockb"]
	textconv = bun
	binary = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
